<%- include('partials/header') %>
<div class="container">
  <h1>Welcome to Ecommerce Website</h1>
  <p>This is a basic ecommerce website with user and product management.</p>
</div>
<%- include('partials/footer') %>